[submodule "external/ncode_common"]
	path = external/ncode_common
	url = https://github.com/ngvozdiev/ncode-common.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "external/gflags"]
	path = external/gflags
	url = https://github.com/gflags/gflags.git
